
@media  (max-width:719px ){
    .skills{
        width: auto;
        height: auto;
        padding: 16px;
        
        
       
    
    }
    .skills h3{
      
    
        font-family: var(--Raleway);
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-text);
        
      
       
    
    
    }
    .skills-hobbies__list {
       width: auto;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 32px;
        
     
    }
    
    
    
    .skills-hobbies__list__item{
        display: flex;
        width: 45%;
        height: 118px;
        background-color:#FFFFFF ;
        margin-bottom: 20px;
        
       
       align-items: flex-end;
      
    }
    
    .skills-hobbies__list__item div{
        width: auto;
        padding-left: 16px;
        padding-bottom: 16px;
      
      
        
    }
    
    .skills-hobbies__list__item img{
        padding-bottom: 16px;
       
    
    
    }
    
    .skills-hobbies__list__item h2{
        font-family: var(--Raleway);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-text);
       
       
        
    
    
    }
    
    .hobbies{
        width: auto;
        height: auto;
        padding: 16px;
        
        
       
    
    }
    
    .hobbies h3{
      
    
        font-family: var(--Raleway);
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-text);
    }
}


@media  (min-width: 720px) and (max-width: 1279px){
    
    .skills{
        display: flex;
        width: auto;
        height: auto;
       
        flex-direction: column;
        align-content: center;
        
       
    
    }
    .skills h3{
      
    
        font-family: var(--Raleway);
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-text);
       
        
      
       
    
    
    }
    .skills-hobbies__list {
       width: 100%;
        height: 268px;
        display: flex;
        flex-wrap: wrap;
       
        
        justify-content: space-between;
        align-content: space-between;
        
    
    }
    
    
    
    .skills-hobbies__list__item{
        display: flex;
        width: 30%;
        height: 118px;
        background-color:#FFFFFF ;
        
      
        
        
       
       align-items: flex-end;
      
    }
    .skills-hobbies__list__item div{
        width: auto;
        padding-left: 16px;
        padding-bottom: 16px;
      
      
        
    }
   
    
    .skills-hobbies__list__item img{
        padding-bottom: 16px;
       
    
    
    }
    
    .skills-hobbies__list__item h2{
        font-family: var(--Raleway);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-text);
       
       
        
    
    
    }
    
    .hobbies{
        display: flex;
        width: auto;
        height: auto;
        padding: 32px;
        flex-direction: column;
        align-content: center;
        
        
       
    
    }
    
    .hobbies h3{
      
    
        font-family: var(--Raleway);
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-text);
        padding-bottom: 32px;
}



}

















@media  (min-width:1280px){
    
    .skills{
        display: flex;
        width: 1136px;
        height: auto;
       
        flex-direction: column;
        
       
        padding-top: 32px;
        padding-bottom: 32px;
       
        
       
    
    }
    .skills h3{
      
    
        font-family: var(--Raleway);
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
    
        text-align: center;
        color: var(--color-text);
        padding-bottom: 32px;
        
      
       
    
    
    }
    .skills-hobbies__list {
       width: 100%;
        height: 174px;
        display: flex;
        flex-wrap: wrap;
       
        
        justify-content: space-between;
        align-content: space-between;
       
        
    
    }
    
    
    
    .skills-hobbies__list__item{
        display: flex;
        width: 176px;
        height: 174px;
        background-color:#FFFFFF ;
        
      
        
        
       
       align-items: flex-end;
      
    }
    .skills-hobbies__list__item div{
        width: auto;
        padding-left: 16px;
        padding-bottom: 16px;
      
      
        
    }
   
    
    .skills-hobbies__list__item img{
        padding-bottom: 16px;
       
    
    
    }
    
    .skills-hobbies__list__item h2{
        font-family: var(--Raleway);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-text);
       
       
        
    
    
    }
    
    .hobbies{
        display: flex;
        width: 1136px;
        height: auto;
       
        flex-direction: column;
        
        
        padding-top: 32px;
        padding-bottom: 32px;
        
        
       
    
    }
    
    .hobbies h3{
      
    
        font-family: var(--Raleway);
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-text);
        padding-bottom: 32px;
}



}